<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="EricMartinez\Blog\Api\PostRepositoryInterface" type="EricMartinez\Blog\Model\PostRepository"/>
    <preference for="EricMartinez\Blog\Api\Data\PostInterface" type="EricMartinez\Blog\Model\Post"/>
    <preference for="EricMartinez\Blog\Api\Data\PostSearchResultsInterface" type="EricMartinez\Blog\Model\PostSearchResults"/>
    <virtualType name="EricMartinezBlogPostGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ericmartinez_blog_post</argument>
            <argument name="resourceModel" xsi:type="string">EricMartinez\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ericmartinez_blog_post_listing_data_source" xsi:type="string">EricMartinezBlogPostGridCollection</item>
            </argument>
        </arguments>
    </type>
</config>
